$color_1: #fff;
$font-family_1: "Helvetica", "Arial", sans-serif;


.btn {
    font-family: $font-family_1;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    appearance: none;
    color: $color_1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    &:focus {
        outline: 0;
    }


    &:active {
        transform: scale(0.9);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    }
}