.cart-card {
    margin-top: 40px;
    width: 1278px;
    height: 303px;
    border-radius: 160px;
    background: #211E2E;
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    display: flex;
}

.cart-card-img-circle {
    width: 190px;
    height: 190px;
    border: 15px solid rgba(14, 14, 14, 0.32);
    border-radius: 100px;
    position: relative;
    top: 40px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart-card-img-circle>img {
    width: 195px;
    height: 195px;
    border-radius: 100px;
}

.cart-card-description {
    margin-left: 180px;
    margin-top: 50px;
    position: relative;
}

.cart-card-description>p {
    color: #fff;
    font-size: 28px;
    margin-top: 20px;
}

/*.cart-card-count {
    display: flex;
}

.cart-card-count>p {
    font-size: 30px;
    color: #fff;
}

.cart-card-count>button {
    width: 40px;
    height: 35px;
    display: flex;
    padding: 9px;
}*/

/*-----btn-order-now-----*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300);

.cart-card-order-now {
    position: absolute;
    left: 500px;
    top: 140px;

}


.cart-card-order-now {
    color: #343045;
    width: 154px;
    height: 48px;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: 3px solid #343045;
    font-size: 22px;
    font-weight: 700;
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    transition: 0.6s;
    overflow: hidden;
    box-shadow: 2px 2px 35px 3px rgba(52, 48, 69, 0.88);
}

.cart-card-order-now:focus {
    outline: 0;
}

.cart-card-order-now:before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #4b3f77 0%, #0f0b1f 100%);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

.cart-card-order-now:after {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #824abe 0%, #080322 100%);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

.cart-card-order-now:hover {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    cursor: pointer;
    width: 200px;
    height: 70px;
    position: absolute;
    left: 480px;
}

.cart-card-order-now:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

.cart-card-order-now:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}

/*-------------------*/

/*-----btn-remove------*/



.cart-card-remove {
    border-radius: 100px;
    width: 65px;
    height: 65px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(243, 50, 50);
    box-shadow: 2px 2px 25px 3px rgba(52, 48, 69, 0.88);
    border: 3px solid red;
    cursor: pointer;
    position: absolute;
    left: 550px;
    top: 0px;
}

/*-------------------*/