<div class="footer-container footer">
    <h2 class="footer__topic">- get in touch with us -</h2>
    <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
        malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
    <div class="footer__links-boxes">
        <a href=""><img src="./img/footer/RSS.svg" alt=""></a>
        <a href=""><img src="./img/footer/Facebook.svg" alt=""></a>
        <a href=""><img src="./img/footer/Twitter.svg" alt=""></a>
        <a href=""><img src="./img/footer/Dribbble.svg" alt=""></a>
        <a href=""><img src="./img/footer/Pinterest.svg" alt=""></a>
    </div>
    <div class="footer_communication">
        <a class="footer_communication__adress" href="">Moonshine St. 14-05 Light City </a>
        <a class="footer_communication__number" href=""> T. +00 (123) 456 78 90 </a>
        <a class="footer_communication__mail" href="">first.last@email.com</a>
    </div>
</div>