<div class="header__dropdown">
    <img src="./img/header/menu-button.svg" alt="">
    <img src="./img/header/menu-button-alt.svg" alt="" class="displayNone">
</div>
<ul class="header__menu">
    <li class="header__menu__li"><a class="header__menu__link" href="">HOME</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="">ABOUT US</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="">OUR JOURNAL</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="">PROJECTS</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="">NEWS</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="">FEATURES</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="">CONCAT</a></li>
</ul>