<div class="shots-tittle">
    <p class="shots-tittle__text">- LATEST INSTAGRAM SHOTS</p>
    <a class="shots-tittle__link" href="#">GO TO OUR INSTAGRAM PAGE -</a>
</div>
<div class="shots-img-wrapper">
    <img src="./img/section-shots/post-1.jpg" alt="" class="shots-img-wrapper__img">
    <img src="./img/section-shots/post-2.jpg" alt="" class="shots-img-wrapper__img">
    <img src="./img/section-shots/post-3.jpg" alt="" class="shots-img-wrapper__img">
    <img src="./img/section-shots/post-4.jpg" alt="" class="shots-img-wrapper__img">
</div>