<p class="sp__tittle">- OUR RESENT POSTS</p>

<div class="wrapper-sp">

    <div class="wrapper-sp__posts wr-sp-p-1">
        <div class="wrapper-sp__posts__img">
            <img src="./img/section-posts/post-img1.jpg" alt="">
        </div>
        <div class="wrapper-sp__posts__text">
            <p class="wrapper-sp__posts__text__p1">Aenean Adipiscing Etiam Vestibulum</p>
            <p class="wrapper-sp__posts__text__p2">Photography, Journal / 9 Comments</p>
            <p class="wrapper-sp__posts__text__p3">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                ornare sem lacinia quam venenatis
                vestibulum.</p>
        </div>
    </div>

    <div class="wrapper-sp__posts wr-sp-p-2">
        <div class="wrapper-sp__posts__img">
            <img src="./img/section-posts/post-img2.jpg" alt="">
        </div>
        <div class="wrapper-sp__posts__text">
            <p class="wrapper-sp__posts__text__p1">Aenean Adipiscing Etiam Vestibulum</p>
            <p class="wrapper-sp__posts__text__p2">Photography, Journal / 9 Comments</p>
            <p class="wrapper-sp__posts__text__p3">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                ornare sem lacinia quam venenatis
                vestibulum.</p>
        </div>
    </div>

    <div class="wrapper-sp__posts wr-sp-p-3">
        <div class="wrapper-sp__posts__img">
            <img src="./img/section-posts/post-img3.jpg" alt="">
        </div>
        <div class="wrapper-sp__posts__text">
            <p class="wrapper-sp__posts__text__p1">Aenean Adipiscing Etiam Vestibulum</p>
            <p class="wrapper-sp__posts__text__p2">Photography, Journal / 9 Comments</p>
            <p class="wrapper-sp__posts__text__p3">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                ornare sem lacinia quam venenatis
                vestibulum.</p>
        </div>
    </div>

    <div class="wrapper-sp__posts wr-sp-p-4">
        <div class="wrapper-sp__posts__img">
            <img src="./img/section-posts/post-img4.jpg" alt="">
        </div>
        <div class="wrapper-sp__posts__text">
            <p class="wrapper-sp__posts__text__p1">Aenean Adipiscing Etiam Vestibulum</p>
            <p class="wrapper-sp__posts__text__p2">Photography, Journal / 9 Comments</p>
            <p class="wrapper-sp__posts__text__p3">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                ornare sem lacinia quam venenatis
                vestibulum.</p>
        </div>
    </div>
</div>