.modal {

    &__close-bg {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #312E2E;
        position: absolute;
        z-index: 10;
    }

    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 518px;
        height: 200px;
        background-color: rgb(227, 118, 118);
        z-index: 11;
        box-shadow: 0px 4px 16px rgb(255, 3, 3);

        &__headerModal {
            height: 70px;
            background-color: rgb(94, 13, 13);
            display: flex;
            padding: 0px 31px;
            align-items: center;

            &__headerTitle {
                color: #FFFFFF;
                font-size: 20px;
                margin-right: 120px;
            }

            &__btnClose {
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        &__modalBody {
            font-size: 15px;
            color: #FFFFFF;
            text-align: center;
            margin: 36px 42px;
        }

        &__footerBtn {
            width: 216px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            &__button {
                width: 103px;
                height: 43px;
                border: none;
                color: #FFFFFF;
                cursor: pointer;
                transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

                &:focus {
                    outline: 0;
                }


                &:active {
                    transform: scale(0.9);
                    box-shadow: 0 2px 25px rgb(255, 2, 2);
                }
            }
        }
    }

}