.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1.glitch {
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 100px;
    padding: 30px;
}

.wrapper h1.glitch::before,
.wrapper h1.glitch::after {
    padding: 30px;
    color: white;
    content: "DT-VR";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #302C42;
    overflow: hidden;
    top: 0;
}

.wrapper h1.glitch::before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.wrapper h1.glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
    0% {
        clip: rect(10px, 350px, 88px, 30px);
    }

    5% {
        clip: rect(34px, 350px, 36px, 30px);
    }

    10% {
        clip: rect(129px, 350px, 134px, 30px);
    }

    15% {
        clip: rect(139px, 350px, 124px, 30px);
    }

    20% {
        clip: rect(99px, 350px, 30px, 30px);
    }

    25% {
        clip: rect(107px, 350px, 26px, 30px);
    }

    30% {
        clip: rect(57px, 350px, 70px, 30px);
    }

    35% {
        clip: rect(36px, 350px, 148px, 30px);
    }

    40% {
        clip: rect(125px, 350px, 105px, 30px);
    }

    45% {
        clip: rect(6px, 350px, 122px, 30px);
    }

    50% {
        clip: rect(20px, 350px, 63px, 30px);
    }

    55% {
        clip: rect(102px, 350px, 10px, 30px);
    }

    60% {
        clip: rect(103px, 350px, 136px, 30px);
    }

    65% {
        clip: rect(73px, 350px, 136px, 30px);
    }

    70% {
        clip: rect(57px, 350px, 1px, 30px);
    }

    75% {
        clip: rect(26px, 350px, 61px, 30px);
    }

    80% {
        clip: rect(69px, 350px, 34px, 30px);
    }

    85% {
        clip: rect(26px, 350px, 102px, 30px);
    }

    90% {
        clip: rect(25px, 350px, 130px, 30px);
    }

    95% {
        clip: rect(73px, 350px, 1px, 30px);
    }

    100% {
        clip: rect(41px, 350px, 6px, 30px);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(111px, 350px, 1px, 30px);
    }

    5% {
        clip: rect(120px, 350px, 116px, 30px);
    }

    10% {
        clip: rect(149px, 350px, 127px, 30px);
    }

    15% {
        clip: rect(148px, 350px, 46px, 30px);
    }

    20% {
        clip: rect(86px, 350px, 13px, 30px);
    }

    25% {
        clip: rect(131px, 350px, 41px, 30px);
    }

    30% {
        clip: rect(122px, 350px, 119px, 30px);
    }

    35% {
        clip: rect(73px, 350px, 85px, 30px);
    }

    40% {
        clip: rect(98px, 350px, 18px, 30px);
    }

    45% {
        clip: rect(60px, 350px, 132px, 30px);
    }

    50% {
        clip: rect(132px, 350px, 87px, 30px);
    }

    55% {
        clip: rect(96px, 350px, 70px, 30px);
    }

    60% {
        clip: rect(48px, 350px, 129px, 30px);
    }

    65% {
        clip: rect(98px, 350px, 80px, 30px);
    }

    70% {
        clip: rect(100px, 350px, 111px, 30px);
    }

    75% {
        clip: rect(57px, 350px, 72px, 30px);
    }

    80% {
        clip: rect(64px, 350px, 61px, 30px);
    }

    85% {
        clip: rect(54px, 350px, 65px, 30px);
    }

    90% {
        clip: rect(106px, 350px, 92px, 30px);
    }

    95% {
        clip: rect(3px, 350px, 42px, 30px);
    }

    100% {
        clip: rect(129px, 350px, 104px, 30px);
    }
}