.slider {
    background-image: url("../img/background/sliderBg/sliderBg.jpg");
    height: 853px;
}

.slide-cont {
    text-align: center;
}

.slider-tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 98px;
    position: relative;
}

.slider-tittle>img {
    position: absolute;
    top: 155px;
    right: 555px;
}

.shape {
    padding-top: 99px;
}

#char-descriptions {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    margin: 36px 0px;
}

#char-name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 10px;
}

#char-job {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    margin-bottom: 36px;
}

#mainPeople>img {
    width: 143px;
    height: 140px;
    border-radius: 100px;
    border: 13px solid rgba(33, 213, 168, 0.2);
    margin-bottom: 57px;
}

.avatar-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1,
#btn2 {
    width: 41px;
    height: 41px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    font-size: 20px;
    cursor: pointer;

}

#btn1:hover,
#btn2:hover {
    width: 51px;
    height: 51px;
    background: #18CFAB;
}

#people-avatar1,
#people-avatar2,
#people-avatar3,
#people-avatar4 {
    width: 58px;
    height: 58px;
    border-radius: 100px;
    border: 5px solid rgba(33, 213, 168, 0.2);
    margin-left: 30px;
}

#people-avatar4 {
    margin-right: 30px;
}

.selected-avatar {
    position: relative;
    bottom: 13px;
}