/* <!-- -------GLOBAL CLASSES------- --> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900");

.textcolorGreen {
    color: #18cfab;
}

.textcolorGrey {
    color: rgba(255, 255, 255, 0.6);
}

.textcolorWhite {
    color: #ffffff;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.displayNone {
    display: none;
}

.our-work-button-focused {
    background-color: #2d3634;
    color: #d4d4d4;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 71px;
    cursor: pointer;
}

/* <!-- -------HEADER------- --> */
.header-background {
    background-image: url("../img/background/headerBackground/sectionHeader.jpg");
    background-size: cover;
}

.header-top-menu {
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
    padding: 26px 0px;
}

.header-top-menu .container {
    display: flex;
    align-items: center;
}

/* ---Logo--- */
.header-menu-logo {
    display: flex;
    align-items: center;
    margin-right: 305px;
}

.logo-emblem-container {
    position: relative;
}

.logo-text-container {
    margin-left: 6px;
}

.logo-second-part {
    position: absolute;
    left: 16px;
    bottom: 22px;
}

.logo-text-first-part {
    color: #ffffff;
}

.logo-text-first-part,
.logo-text-second-part {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

/* -------- */
/* ---Menu--- */
.header-menu-ul {
    display: flex;
}

.header-menu-li {
    margin-right: 21px;
}

.header-menu-link {
    position: relative;
    padding-bottom: 20px;
}

.header-menu-link:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

/* -------- */

/* ---HeaderTittle--- */
.header-tittle-container {
    padding: 250px 0px;
    text-align: center;
}

.header-main-content-text-p {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
}

.header-main-content-text-p span:first-of-type {
    margin-right: 6px;
}

.header-main-content-container-text h1 {
    margin: 21px 0px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 78px;
    color: #ffffff;
}

.header-main-content-container-text p:last-of-type {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 34px;
    color: #d4d4d4;
}

.header-main-content-container-buttons {
    display: flex;
    justify-content: center;
    margin-top: 129px;
}

.header-main-buttons-cover-second,
.header-main-buttons-cover-first {
    position: relative;
    width: 169px;
    height: 63px;
    background-color: #ffffff;
}

.header-main-buttons-cover-first {
    margin-right: 26px;
}

.header-main-buttons-cover-second button,
.header-main-buttons-cover-first button {
    position: absolute;
    width: 169px;
    height: 63px;
    left: 0px;
    top: 5px;
    color: #ffffff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    border: none;
}

.header-main-buttons-cover-first button {
    background-color: #18cfab;
}

.header-main-buttons-cover-second button {
    background: #00cbf6;
}

.header-main-buttons-cover-second,
.header-main-buttons-cover-first,
.header-main-buttons-cover-second button,
.header-main-buttons-cover-first button {
    border-radius: 5px;
    cursor: pointer;
}

/* ------------- */

/* ---Tabs--- */
.tabs-cover {
    display: flex;
    margin-top: 10px;
}

.tabs-container {
    width: 315px;
    margin: 95px auto;
    text-align: center;
}

.tab-first,
.tab-third,
.tab-second,
.tab-fourth {
    width: 25%;
    height: 377px;
}

.tab-first,
.tab-third {
    background: #1c2a33;
}

.tab-second,
.tab-fourth {
    background: #18cfab;
}

.tabs-container p {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.tab-second img,
.tab-fourth img {
    margin-top: 10px;
}

.tab-first p,
.tab-third p {
    margin-top: 47px;
}

.tab-second p,
.tab-fourth p {
    margin-top: 58px;
}

/* ----------- */

/* ---Our-Services--- */
.our-services {
    background-color: #ffffff;
    text-align: center;
}

.our-services p {
    margin-top: 85px;
    margin-bottom: 100px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}

.our-services p>img {
    position: absolute;
    top: 66px;
    left: 555px;
}

.our-services-buttons-container {
    display: flex;
    margin-bottom: 25px;
}

.our-services-buttons-container button {
    width: 193px;
    height: 72px;
    border: 1px solid #EDEFEF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15.9859px;
    cursor: pointer;
    position: relative;
}

.our-services-buttons-container button:hover {
    border: 1.5px solid #18CFAB;
}

.our-services-buttons-container button>img {
    position: absolute;
    top: 69.5px;
    left: 80.5px;
}

.none-focus-buttons-our-service {
    background: #F8FCFE;
    color: #717171;
}

.focus-buttons-our-service {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.our-services-content {
    display: flex;
    text-align: start;
    padding-bottom: 91px;
}

.our-services-content img {
    height: 139px;
    width: 192px;
    margin-right: 15px;
}

.our-services-content span {
    width: 952px;
    height: 139px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
    color: #777777;

}

/* -------- */

/* ---Buy-It-Now--- */

.buy-it-now {
    background-image: url("../img/background/sectionBuyIt/Layer.jpg");
}

.buy-it-now div:first-child {
    padding: 127px 0px;
    text-align: center;
}

.buy-it-now h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.buy-it-now p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
    margin-top: 12px;
    margin-bottom: 62px;
}

.buy-it-now-button-cover {
    width: 168px;
    height: 63px;
    background-color: #ffffff;
    margin: 0px auto;
    position: relative;
}

.buy-it-now-button-cover button {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 0px;
}

.buy-it-now-button-cover,
.buy-it-now-button-cover button {
    border-radius: 5px;
}

/* ------- */


/* ---Our-Work--- */
.our-work {
    background: #E9EDEF;
    padding-bottom: 90px;
}

.our-work>.container {
    text-align: center;
}

.our-work-tittle {
    padding: 96px 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}

.our-work-tittle img {
    position: absolute;
    top: 156px;
    left: 550px;
}

.our-work-buttons-wrapper {
    display: flex;
    justify-content: center;
}

.our-work-button {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    margin-bottom: 71px;
    cursor: pointer;
}

.our-work-button:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.our-work-buttons-wrapper button {
    padding: 13px 15px;
}

.our-work>.container>img {
    width: 285px;
    height: 206px;
}

.load-more {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    margin-top: 70px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #4E4E4E;
    width: 178px;
    height: 73px;
}

.load-more span::before {
    padding-right: 15px;
    content: url("../img/ourWork/formaPlus.svg");
}

/* --Animation-- */
.center {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ring {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #70e48d;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18cfab;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring:before {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.center>span {
    color: #737373;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    50% {
        color: #18cfab;
    }
}

/* ----- */
.img-works-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-our-works-box {
    position: relative;
    width: 286px;
    height: 211px;
}

.img-box-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;
    border-top: 6px solid #18CFAB;
    visibility: hidden;
}

.img-box-hover>div {
    margin-top: 42px;

}

.img-box-hover>div>button {
    width: 41px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
}

.img-box-hover>div>button:last-of-type {
    background-color: #18CFAB;
}

.img-box-hover>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14.1771px;
    color: #18CFAB;
    margin: 40px 0px 10px 0px;
}

.img-box-hover>span {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12.1518px;
    color: #8A8A8A;

}

.img-our-works-box:hover .img-box-hover {
    visibility: visible;
}

/* ---BreakingNews--- */
.breaking-news {
    background-color: #FFFFFF;
    padding-bottom: 124px;
}

.post-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breaking-news-tittle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    margin: 82px 0px 100px 0px;
    position: relative;
    text-align: center;
}

.breaking-news-tittle img {
    position: absolute;
    top: 64px;
    left: 554px;

}

.post-photo {
    margin-bottom: 44px;
    position: relative;
}

.post-photo img {
    margin-bottom: 15px;
}

.post-photo div:first-of-type:not(div:last-of-type) {
    width: 70px;
    height: 68px;
    background: #203E38;
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
}

.post-photo div:first-of-type:not(div:last-of-type) span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
}

.post-text>span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17.9885px;
    color: #717171;
    padding-left: 20px;
}

.post-text>div {
    margin-top: 8px;
}

.post-text>div span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    color: #777777;
    padding-left: 15px;
}

.post-text>div span:first-of-type::after {
    content: "|";
    padding-left: 15px;
}

.post-photo:hover .post-text>span {
    color: #18CFAB;
}

.post-photo:hover .post-photo>div:first-of-type:not(div:last-of-type) {
    background: #18CFAB;
}


/*--- footer ---*/

.footer {
    background-color: #22353F;
    text-align: center;
}

.footer p {
    padding: 48px 0px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

.footer a {
    padding: 48px 0px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #18CFAB;
}