@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 1280px;
  height: 1282px;
  margin: 0 auto;
}

.logo-part1 {
  font-size: 80px;
  line-height: 94px;
  color: #880404;
}

.logo-part2 {
  font-size: 80px;
  line-height: 94px;
  color: #0d3c52;
}

.main-menu {
  margin: 0 auto;
  text-align: center;
}

.main-menu-item {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 20px;
  border-left: 1px solid #ffffff;
}

.main-menu-node {
  border-right: 1px solid #ffffff;
}

.main-menu-item:hover {
  background: #d8b13a;
}

.main-menu-link {
  font-size: 24px;
  line-height: 28px;
  padding: 26px 40px 19px 40px;
}

/* ------------------------- */

.section-main {
  display: flex;
}

.left-menu {
  border: 1px solid #000000;
  width: 344px;
  margin-top: 48px;
}

.left-menu-item {
  font-size: 27px;
  line-height: 27px;
  padding: 26px 0px 25px 44px;
}

.left-menu-item:hover {
  background: #d8b13a;
  padding-left: 60px;
}

/* --------------------- */

.box-photo-logo {
  width: 885px;
  height: 610px;
  border: 1px solid #000000;
  margin-top: 48px;
  padding: 0px 20px;
}

.photo-logo {
  margin: 25px 0px 0px 225px;
  height: 200px;
  width: 400px;
}

.photo-decription {
  font-size: 21px;
  line-height: 24px;
  align-items: center;
}

.footer-description-margin {
  margin-top: 37px;
  margin-bottom: 34px;
}

/* ----------------------- */

.footer-menu {
  margin-top: 100px;
}

.footer-menu-item {
  display: inline-block;
  padding: 20px 0px 20px 40px;
}

.footer-menu-link {
  font-size: 28px;
  line-height: 28px;
}

.footer-menu-coppyright {
  margin-left: 80px;
  font-size: 28px;
  line-height: 28px;
  color: #d8b13a;
}

.footer-menu-link:hover {
  color: #d8b13a;
  text-decoration: underline solid #d8b13a;
}
.fb-footer {
  display: flex;
}

/* ------------------ChangeTheme and BackGrounds------------------ */
.left-menu-item-btn {
  font-size: 27px;
  line-height: 27px;
}
.left-menu-item-btn button {
  width: 100%;
  height: 50px;
  font-size: larger;
  cursor: pointer;

  background-color: #d8b13a;
}
/* light side BACk rgb(19, 23, 45)  #2a8de9  */
.lightImgBack {
  background-image: url("./img/backgound/lightSide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.darkImgBack {
  background-image: url("./img/backgound/darkSide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lightText {
  color: #2a8de9;
}
.lightBack {
  background-color: rgba(19, 23, 45, 0.8);
}
.darkText {
  color: #880404;
}
.darkBack {
  background-color: rgba(31, 9, 9, 0.8);
}
lil {
  color: #d8b13a;
  font-size: 25px;
}
