.cards-container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    flex-direction: row;

    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}