span.switcher {
    position: absolute;
    top: 275px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0;

}

span.switcher input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #1E1E1E;
    outline: none;
    font-family: "Oswald", sans-serif;
    border: 2px solid #FFFFFF;
}

span.switcher input:before,
span.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
}

span.switcher input:before {
    content: "Card";
    left: 20px;
}

span.switcher input:after {
    content: "Wrap";
    right: 20px;
}

span.switcher label {
    z-index: 1;
    position: absolute;
    top: 15px;
    bottom: 10px;
    border-radius: 20px;
}

span.switcher.switcher-1 input {
    transition: 0.25s -0.1s;
}

span.switcher.switcher-1 input:checked {
    /*background-color: #FFFFFF;*/
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

span.switcher.switcher-1 input:checked:before {
    color: #CCCCCC;
    transition: color 0.5s 0.2s;
}

span.switcher.switcher-1 input:checked:after {
    color: #CCCCCC;
    transition: color 0.5s;
}

span.switcher.switcher-1 input:checked+label {
    left: 10px;
    right: 100px;
    /*background: #1E1E1E;*/
    background: #343045;
    transition: left 0.5s, right 0.4s 0.2s;
}

span.switcher.switcher-1 input:not(:checked) {
    /*background: #1E1E1E;*/
    background: #343045;

    transition: background 0.5s -0.1s;
}

span.switcher.switcher-1 input:not(:checked):before {
    color: #CCCCCC;
    transition: color 0.5s;
}

span.switcher.switcher-1 input:not(:checked):after {
    color: #343045;
    transition: color 0.5s 0.2s;
}

span.switcher.switcher-1 input:not(:checked)+label {
    left: 100px;
    right: 10px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}