.header {
    background: linear-gradient(#322e42, #3f3952, #3d3a4e);
    border-radius: 40px;
    margin-bottom: 40px;
}


.navigation-header-nav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navbar-nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: aliceblue;
    text-decoration: none;
}

.container-main {
    display: flex;
    justify-content: center;
}