/*body {
    overflow: hidden;
}*/

.modal-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(35, 0, 41, 0.5);
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 2;
}

.modal {
    height: 50%;
    width: 50%;
    overflow: hidden;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 472px;
    height: 207px;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    border: 10px solid rgba(13, 13, 13, 0.32);
    z-index: 3;
}

.modal-text {
    width: 280px;
    margin: 25px 96px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modal-btn-comtainer {
    display: flex;
    justify-content: center;
}


.modal-btn-comtainer button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.modal-btn-comtainer button {
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    margin: 0 10px;
    padding: 10px 35px;
    border: 3px solid transparent;
    cursor: pointer;
}

.modal-btn-comtainer button:active {
    transform: translateY(3px);
}

.modal-btn-comtainer button::after,
.modal-btn-comtainer button::before {
    border-radius: 40px;
}

.shrink-border {
    background-color: transparent;
    color: #1b1b20;
}

.shrink-border:hover {
    box-shadow: none;
    color: #ffffff;
}

.shrink-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #1b1b20;
    transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
    opacity: 0;
}

.shrink-border::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #ffffff;
    opacity: 0;
    z-index: -1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}