body {
    background-color: #2C3333;
}

.add-post {
    background-color: rgb(187, 215, 240);
    border: 10px solid #2aded8;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.add-post p {
    margin-left: 10px;
}

#body {
    width: 90%;
    height: 100px;
    border-radius: 20px;
}

.add-post>div {
    display: flex;
}

.container {
    position: relative;
    width: 500px;
    margin: 0px auto;

}

.post {
    border: 6px solid #0E8388;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: #CBE4DE;
}

.block-name {
    display: flex;
    align-items: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.name {
    font-size: 35px;
    line-height: 1%;
    margin-top: 20px;
}

.surname {
    margin-right: 10px;
}

.surname,
.mail {
    margin-top: 0px;
    opacity: 0.7;
    line-height: 1%;
}

.surname,
.mail,
.name {
    margin-left: 20px;
}

.title {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.maintext {
    text-align: center;
    font-size: 20px;
}

.btn-remove {
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23ff0000" d="M19,6.4L17.6,5L12,10.6L6.4,5L5,6.4L10.6,12L5,17.6L6.4,19L12,13.4L17.6,19L19,17.6L13.4,12L19,6.4z"/%3E%3C/svg%3E');
    background-color: #CBE4DE;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}