.card {
    width: 310px;
    height: 500px;
    border-radius: 40px;
    background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Выравнивание по центру по горизонтали */
    text-align: center;
    /* Выравнивание текста по центру */
    padding: 0px 20px;
    margin-top: 40px;
}

.card-img-circle {
    width: 190px;
    height: 190px;
    border: 15px solid rgba(14, 14, 14, 0.32);
    border-radius: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.card-img-circle>img {
    width: 195px;
    height: 195px;
    border-radius: 100px;
}

.card-model,
.card-description {
    color: #FFFFFF
}

.card-model {
    font-size: 24px;
    margin: 10px 0px;
}

.card-description {
    font-size: 16px;
    height: 70px;
}



/*-----Heart-----*/
.heart-container {
    position: relative;
    left: -140px;
    top: 20px;

}

.heart-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    color: rgb(185, 88, 88);
}

.heart-icon:hover {
    color: rgb(190, 34, 177);
}

.heart-icon-clicked {
    color: rgb(190, 34, 177)
}

/*----Btn----*/

.card-btn-addToCart {
    cursor: pointer;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    width: 160px;
    height: 58px;
    color: #343045;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    border: 6px solid #343045;
    box-shadow: 2px 2px 35px 3px rgba(52, 48, 69, 0.88);
    transition: all 0.8s;
}

.card-btn-addToCart:hover {
    margin-top: 25px;
    width: 170px;
    height: 68px;
}

/*---------*/