.tabs-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 60px;
  height: 40px;
  width: 80px;
  background-color: antiquewhite;
  border-radius: 20px;
  border: 2px solid cornflowerblue;
  text-align: center;
  padding-top: 10px;
}

.tabs {
  background-color: aquamarine;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.tabs-content-li {
  background-color: wheat;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
