.from-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(35, 0, 41, 0.5);
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 2;
}

.form {
    /*overflow: hidden;*/
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 572px;
    height: 657px;
    border-radius: 40px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    border: 10px solid rgba(13, 13, 13, 0.32);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.field-error-wrapper {
    position: relative;
}

.error-message {
    position: absolute;
    top: -13px;
    left: 60px;
    color: rgb(163, 26, 26);
}

.field {
    margin: 20px;
    width: 380px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    border: 10px solid rgb(50, 22, 56);
}

.form button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.form button {
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    margin: 20px 10px;
    padding: 10px 35px;
    border: 3px solid transparent;
    cursor: pointer;
}

.form button:active {
    transform: translateY(3px);
}

.form button::after,
.form button::before {
    border-radius: 40px;
}

.form-submit-btn {
    background-color: transparent;
    color: #515153;
}

.form-submit-btn:hover {
    box-shadow: none;
    color: #ffffff;
}

.form-submit-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #515153;
    transition: opacity 0.3s, border 0.3s;
}

.form-submit-btn:hover::before {
    opacity: 0;
}

.form-submit-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #ffffff;
    opacity: 0;
    z-index: -1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
}

.form-submit-btn:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}


.close-from {
    position: absolute;
    top: -720px;
    left: 250px;
    border-radius: 40%;
    background-color: rebeccapurple;
}


/*---SuccessMessage---*/
.success-message-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(35, 0, 41, 0.5);
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 2;
}

.success-message {
    height: 50%;
    width: 50%;
    overflow: hidden;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 472px;
    height: 207px;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    border: 10px solid rgba(13, 13, 13, 0.32);
    z-index: 3;
    text-align: center;
    padding: 15px;
}

.success-message p {
    margin-top: 70px;
    color: #dedee7;
    font-size: large;

}

/*-------*/