
.footer {
    text-align: center;

    &__topic {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        color: #FEFEFE;
        text-transform: uppercase;
        padding-top: 66px;
        margin-bottom: 22px;
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 37px;
        color: #B9B9B9;
    }

    &__links-boxes {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 34px;
    }

    &__links-boxes>a:not(:first-of-type) {
        margin-left: 10px;
    }

    &_communication {
        padding-bottom: 70px;

        &__adress,
        &__mail,
        &__number {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            color: #B9B9B9;
            text-decoration: none;
        }

        &__adress::after,
        &__number::after {
            content: ("  /  ");
            margin: 0px 10px;
        }
    }
}
