.header__dropdown {
    width: 44px;
    height: 37px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -10px;
    right: 15px;
    display: none;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;


    &__li:not(:first-of-type) {
        margin-left: 69px;

    }

    &__li {
        padding-top: 46px;
    }

    &__link {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        color: #4E4E4E;
    }
}

//.header__menu__li--active {
//    width: 182px;
//    height: 30px;
//    padding-left: 13px;
//    background-color: #F5F5F5;
//}

//.header__menu__li--active:hover {
//    background-color: #E5E5E5;
//}