@media(min-width:1200px) {}

@media(max-width:1100px) {
    .container {
        max-width: 800px;
    }

    .header__menu__li:not(:first-of-type) {
        margin-left: 34px;
    }

    .wrapper-sp__posts:not(:first-of-type) {
        margin-top: 32px;
    }

    .wrapper-sp__posts {
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .wr-sp-p-4 {
        margin-bottom: 60px;
    }

    .shots-img-wrapper__img:last-of-type {
        display: none;
    }

    .shots-img-wrapper__img {
        width: 249px;
        height: 249px;
    }

}

@media(max-width:610px) {

    .container,
    .footer-container {
        max-width: 350px;
        padding: 0px 15px;

    }

    .wrapper-sp__posts__text__p3,
    .wr-sp-p-4 {
        display: none;
    }

    .wrapper-sp__posts:not(:last-child) {
        display: block;
    }

    .wrapper-sp__posts__text__p1,
    .sp__tittle {
        font-size: 14px;
    }

    .wrapper-sp__posts__text__p2 {
        font-size: 11px;
    }

    .shots-background {
        background-color: rgba(0, 0, 0, 0.0001);
    }

    .shots-tittle__link,
    .shots-img-wrapper__img:not(:first-child) {
        display: none;
    }

    .footer_communication>a {
        display: block;
    }

    .footer_communication>a,
    .footer__topic {
        font-size: 14px;
    }

    .footer__text {
        font-size: 12px;
    }

    .header__dropdown {
        display: block;
    }

    .header__menu {
        display: none;
        position: absolute;
        top: 25px;
        right: 15px;
    }

    .sectionImg {
        padding-top: 45px;
    }

    .header__menu__li {
        width: 182px;
        height: 30px;
        //padding-left: 13px;
        background-color: #F5F5F5;
        padding: 5px;
        margin: 0px;
    }

    .header__menu__li:hover {
        background-color: #E5E5E5;
    }

    .header__menu__li:not(:first-of-type) {
        margin: 0px;
    }

}