.container {
    max-width: 1260px;
    margin: 0px auto;
    padding: 0px 15px;

}

.header__static {
    position: relative;
}

.footer-container {
    max-width: 715px;
    margin: 0px auto;
    padding: 0px 15px;
}

.footer-background {
    background-color: #000000;
    ;
}

.active {
    display: block !important;
}

.displayNone {
    display: none;
}