
.shots-background {
    background-color: rgb(56, 51, 51, 0.1);
}

.shots-tittle {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;

    &__link {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        color: #4E4E4E;
        text-decoration: none;
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #4E4E4E;
    }
}

.shots-img-wrapper {
    display: flex;
    justify-content: space-between;

    &__img {
        margin-top: 24px;
        margin-bottom: 50px;
    }
}
