
.sp__tittle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4E4E4E;
    margin: 66px 0px 24px 0px;
}

.wrapper-sp {
    display: flex;
    flex-wrap: wrap;


    &__posts {
        display: flex;

    }

    &__posts__img {
        width: 160px;
        height: 140px;
        margin-right: 21px;
    }

    &__posts__text {
        width: 350px;

        &__p1 {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            color: #4E4E4E;
        }

        &__p2 {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #7C7C7C;
        }

        &__p3 {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
        }
    }
}

.wr-sp-p-3,
.wr-sp-p-4 {
    margin-top: 32px;
    margin-bottom: 69px;
}

.wr-sp-p-2,
.wr-sp-p-4 {
    margin-left: 25px;
}
