main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
    justify-content: space-around;
}

.card {
    background-color: rgb(197, 82, 82);
    width: 320px;
    height: 420px;
    margin-bottom: 50px;

    &__name-article-wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;
        background-color: rgb(129, 50, 50);

        &__name {
            color: #fff;
        }

        &__article {
            color: #fff;
            font-size: small;
        }

    }

    &__img {
        width: 300px;
        height: 230px;
        margin: 9px;
    }

    &__color-price-wrapper {
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;
        background-color: rgb(129, 50, 50);
        position: relative;

        &__price {
            color: #fff;
            padding: 6px;
        }

        &__color {
            color: #fff;
            padding: 6px;
        }
    }
}