.container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 40px 40px 40px;
    position: relative;

}


.cart-order-all-btn {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 70px;
    border-radius: 40px;
    color: #ffffff;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 1) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    border: 10px solid rgba(13, 13, 13, 0.32);
    cursor: pointer;
    transition: color 0.5s, transform 0.2s, background-сolor 0.2s;
}

.cart-order-all-btn:hover {
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(175, 170, 194, 1) 0%, #9a8cda 100%);
}