body {
    background-color: rgb(83, 75, 75);
}

$color_1: #010000;
$font-family_1: "Helvetica", "Arial", sans-serif;


.btn {
    font-family: $font-family_1;
    display: inline-block;
    font-size: 20px;
    padding: 0.6em 1em;
    appearance: none;
    color: $color_1;
    border-radius: 4px;
    background-color: rgb(234, 167, 161);
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;


    &:focus {
        outline: 0;
    }


    &:active {
        transform: scale(0.9);
        box-shadow: 0 2px 25px rgba(255, 3, 3, 0.5);
    }
}